<h2><%= @house.name %></h2>

<img src="<%= @house.url %>" alt="<%= @house.name %>">


<table>
  <thead>
    <th>Student name</th>
    <th>Age</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% for student in @students %>
    <tr>
      <td>
        <a href="/students/<%=student.id%>">
          <%= student.full_name() %>
        </a>
      </td>
      <td><%= student.age %></td>
      <td>
        <form action="/students/delete/<%= student.id %>" method="post">
          <input type="submit" name="delete" value="Delete">
        </form>
      </td>
      <td>
        <form action="/students/edit/<%= student.id %>" method="get">
          <input type="submit" name="update" value="Update">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
